/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

body {
  background-color: gray;
  border: 1px solid #ffd24a;
  margin: 10px 100px;
  font-family: Helvetica, Arial, sans-serif;
}

body > div {
  background-color: white;
}

div section {
  border-bottom: 2px solid grey;
  padding-bottom: 50px;
}

h2 {
  color: #1fabe5;
}

h3 {
  color: #1fabe5;
}
ul {
  font-weight: bold;
}
li {
  margin: 5px;
}

table{
  border-collapse: collapse;
  width: 100%;
}
td {
  border: 1px solid #1fabe5;
  padding: 10px;
}

thead td {
  background-color: #1fabe5;
  border: 1px solid #046c97;
  color: white;
}

td img {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}
form {
  font-weight: bolder;
  padding: 10px;
  background-color: #eee;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.city_container {
  font-weight: bolder;
  padding: 10px;
}

#bio div{
  padding: 10px;
  background-color: inherit;
}
.name {
  color: white;
  border-radius: 5px;
  background-color: #ff8523;
  padding: 10px;
  margin: 10px;
}
.main_navigation a {
  display: inline-block;
  text-decoration: none;
  color:white;
  border-radius: 5px;
  border: 1px solid white;
  padding: 10px 15px;
}

form div {
  padding: 10px;
}

form textarea {
  margin-top: 10px;
  padding: 5px;
  border-color: #1fabe5;
}

.submit_container > input {
	border-radius : 10px;
	font-size : 20px;
  color: white;
	background-color : #1fabe5;
  border: 1px solid #1fabe5;
	padding : 10px;
  text-transform: uppercase;
}
#site_header {
  display: block;
  background-color: #ff8523;
  padding: 30px;
}

#logo {
  display: block;
  margin: 20px auto;
}

#page_content {
  padding: 30px;
}
