/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

body {
  background-color: gray;
  border: 1px solid yellow;
  margin: 10px 100px;
  font-family: sans-serif;
}

div {
  background-color: white;
}

div section {
  border-bottom: 2px solid grey;
}

ul {
  font-weight: bold;
  margin-bottom: 50px;
}
li {
  margin: 5px;
}
h2 {
  color: blue;
}

h3 {
  color: blue;
}
.main_navigation a {
  display: inline-block;
  text-decoration: none;
  color:white;
  border-radius: 5px;
  border: 1px solid white;
  padding: 10px 15px;
}

#site_header {
  display: block;
  background-color: orange;
  padding: 30px;
}

#logo {
  display: block;
  margin: 20px auto;
}

#page_content {
  padding: 30px;
}
